@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');

$h1-color: #bc3c37;
$bg-color:#171916;

header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: $bg-color;
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        h1{
            font-size: 2rem;
            color: $h1-color;
            align-self: flex-end;
            margin: 0;
        }
    }
}