.App{
    display: grid;

    grid-template-rows: 1% 1fr;
    grid-template-areas: 
    "navi"
    "films";

    header{
        grid-area: navi;
        font-family: 'Josefin Slab', serif;
    }
    main{
        grid-area: films;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    }
}

@media only screen and 
    (min-width: 1000px) {
    .App{
        grid-template-rows: 5% 1fr;
    }
    
}

@media only screen 
    and (min-width: 1001px)
    and (max-width: 1999px) {
    .App{
        grid-template-rows: 2% 1fr;
    }
    
}

@media only screen 
    and (min-width: 2000px){
    .App{
        grid-template-rows: 3% 1fr;
    }
    
}